body{
    display: flex;
    justify-content:center;
    align-content: center;
}

.container{
    display: grid;
    width: 600px;
    height: 600px;
    background-color:pink;
    place-content: center;

    
}
[class*="item"]{
    background: grey;
}
